@charset "UTF-8";

body {
  font-family: 'Dosis',
    sans-serif;
  background-image: radial-gradient(#ffffaa, #ffafbd);
}

/* index.htmlここから */

header {
  padding-top: 50px;
  width: 100%;
}

h1 {
  text-align: center;
  font-size: 5rem;
  font-weight: bold;
  padding-right: 40px;
}

.list {
  text-align: center;
  padding-top: 60px;

}

.list ul li {
  display: inline-block;
  margin-right: 100px;
  font-size: 40px;
  border-bottom: solid black 3px;
}

.list ul li:hover {
  background-color: white;
  font-weight: bold;
  font-size: 70px;
  list-style-type: disc;
}

.container {
  padding-top: 100px;
  height: 500px;
  width: 700px;
  margin: 0 auto;
}

.comingsoon {
  background-color: rgb(242, 242, 242);
  font-size: 70px;
  text-align: center;
  padding-top: 130px;
  font-weight: 900;
}

.btn {
  width: 300px;
  display: inline-block;
  margin: 230px 200px 0 200px;
  font-size: 30px;
  border-radius: 10px;
}

.infomation {
  padding-top: 50px;
  width: 700px;
  margin: 0 auto;
}

.infomation h2 {
  margin: 0 auto;
  font-size: 40px;
  border-bottom: solid black 3px;
  width: 250px;
}

.infomation-box {
  background-color: rgb(242, 242, 242);
  width: 600px;
  margin: 10px auto;
  border: #000000 2px solid;
  overflow: auto;
  height: 300px;
}

section {
  background-color: rgb(242, 242, 242);
  margin: 20px 0;
  text-align: center;
  font-size: 17px;
}

section p {
  border-bottom: solid 1px #000000;
  width: 200px;
  margin: 0 auto;
}

footer {
  height: 150px;
}

footer p {
  line-height: 150px;
  text-align: center;
  font-size: 50px;
  font-weight: bolder;
}

footer .hover {
  display: none;
}

footer:hover .normal {
  display: none;
}

footer:hover .hover {
  display: inline;
  padding-left: 39%;
}

/* index.htmlここまで */

/* about.htmlここから */
#about-h1 {
  text-align: center;
  padding-top: 50px;
}

.about {
  padding: 100px 70px 0 70px;
}

.about-info {
  height: 330px;
  width: 700px;
  margin: 0 auto;
  background-color: #fffff0;
  padding: 30px 20px 20px 20px;
}

.introduce {
  font-size: 20px;
}

.keizoku {
  text-align: center;
  padding: 23px 0 23px 0;
  font-size: 80px;
  font-weight: bold;
}

.about-picture-box {
  padding: 50px 60px 0 60px;
  text-align: center;

}

.about-picture-box p {
  display: inline-block;
  background-color: #fffff0;
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
  margin-left: 50px;
  line-height: 1.7;
}










/* about.htmlここまで */
.profile1 {
  text-align: center;
  font-weight: bolder;
  font-size: 40px;
}

.profile-image {
  width: 400px;
  height: 400px;
}

.profile2 {
  width: 800px;
  padding: 50px 70px;
  margin: 50px auto 0;
  background-color: #fffff0;

}

.profile1:active .normal {
  display: none;
}

.profile1:active .click {
  display: inline;
}

.click {
  display: none;
}

/* 
ここからgallery.html */

.flex-container {
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  height: 1000px;
  margin: 0 auto;
  overflow: auto;
}

.item {
  height: 300px;
  width: 300px;
  background-color: #fffff0;
  margin-top: 30px;
  margin-right: 30px;
  padding: 150px 100px;
  font-size: 18px;
}


.gallerys-btn {
  display: inline-block;
  padding: 20px 30px;
  background-color: blue;
  color: #ffffff;
  border-radius: 20px;
  display: none;
  font-weight: bold;
}

.item:hover .gallerys-btn {
  display: inline;
}


/* 
.item:nth-child(1) {
  margin-left: 30px;
}

.item:nth-child(6) {
  margin-left: 30px;
} */
#ThinkFrog {
  background-image: url("ThinkFrog.jpg");
  background-size: 100% 100%;
  background-position: center;
}

#gurumeking {
  background-image: url("gurumeking.jpg");
  background-size: 100% 100%;
  background-position: center;
}
